<!-- CHOOSE -->
<div class="choose-container">
  <section class="choose wow animate__zoomIn" id="choose">
    <h2 class="choose-title">Почему нас выбирают</h2>
    <ol class="choose-list">
      <li class="choose-list-item">
        <span class="choose-list-subtitle">— 01</span>
        <p class="choose-list-text">Обучение в малых <span>командах</span></p>
      </li>

      <li class="choose-list-item">
        <span class="choose-list-subtitle">— 02</span>
        <p class="choose-list-text">Визуализированные <span>конспекты</span></p>
      </li>

      <li class="choose-list-item">
        <span class="choose-list-subtitle">— 03</span>
        <p class="choose-list-text">
          Каждое занятие имеет <span>цель и конкретный</span> результат
        </p>
      </li>

      <li class="choose-list-item">
        <span class="choose-list-subtitle">— 04</span>
        <p class="choose-list-text">Реальные результаты преподавателя</p>
      </li>

      <li class="choose-list-item">
        <span class="choose-list-subtitle">— 05</span>
        <p class="choose-list-text">
          Программа курса соответствует <span>требованиям МОН</span> Украины
        </p>
      </li>

      <li class="choose-list-item">
        <span class="choose-list-subtitle">— 06</span>
        <p class="choose-list-text">
          Набор команд по <span>уровням знаний</span>
        </p>
      </li>
    </ol>
  </section>
</div>
