<section class="page-footer-first">
    <div class="container">
        <div class="footer-first">
            <div>
            <a href="./index.html" class="logo" data-logo
            >Hell
            <svg class="logo-icon" width="22" height="30">
                <use href="./images/icons/sprite.svg#icon-campfire"></use>
            </svg>
            EN
            <span class="logo-undertitle">
                <span class="logo-undertitle logo-undertitle-accent">адский&nbsp;</span
                >английский</span>
            </a>
        </div>
        <div>
            <a href="tel:+38 (000) 000 00 00" class="number-footer">
                <svg class="phone-footer" width= 20 height=20>
                    <use href="./images/icons/sprite.svg#phone"><use>
                </svg>
                +38 (000) 000 00 00
            </a>
        </div>
        <div>
            <a href="" class="insta-footer-link">
                <!--<svg class="insta-footer" width= 40 height=40>
                    <use href="./images/icons/instagram.svg"><use>
                </svg>-->
            </a>
        </div>
    </div>
</section>
<section class="page-footer-second">
        <div class="footer-second">
            <h2 class="footer-header">@ Все права защищены, 2019</h2>
        </div>
    </section>