<footer id="footer">
    <div class="page-footer-first">
        <div class="container">
            <div class="footer-first">
                <div class="logo-style">
                    <a href="./index.html" class="logo-footer" data-logo
                    >Hell
                    <svg class="logo-icon-footer" width="22" height="30">
                        <use href="./images/icons/sprite.svg#icon-campfire"></use>
                    </svg>
                    EN
                    <span class="logo-undertitle-footer">
                        <span class="logo-undertitle logo-undertitle-accent-footer">адский&nbsp;</span
                        >английский</span>
                    </a>
                </div>
                <div class="right-block">
                    <div class="phone-block">
                        <a href="tel:+38 (000) 000 00 00" class="number-footer">
                            <svg class="phone-footer" width= 20 height=20>
                                <use href="./images/icons/sprite.svg#phone"><use>
                            </svg>
                            +38 (000) 000 00 00
                        </a>
                    </div>
                    
                        <a href="" class="insta-footer-link"></a>
                    
                </div>
            </div>
    </div>
    <div class="page-footer-second">
        <div class="container">
        <div class="footer-second">
            <h2 class="footer-header">@ Все права защищены, 2019</h2>
        </div>
        </div>
    </div>
</footer>