<!-- FOOTER -->
<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-top-side">
      <a href="./index.html" class="logo logo-footer animate__bounceInLeft wow"
        ><span>Hell</span>
        <svg
          class="logo-icon shake-opacity shake-constant"
          width="22"
          height="30"
        >
          <use href="./images/icons/sprite.svg#icon-campfire"></use>
        </svg>
        <span>EN</span>

        <span class="logo-undertitle">
          <span class="logo-undertitle logo-undertitle-accent"
            >адский&nbsp;</span
          >английский</span
        >
      </a>

      <a href="tel:+380000000000" class="footer-phone animate__tada wow">
        <svg
          class="footer-phone-icon shake shake-constant"
          width="20"
          height="20"
        >
          <use href="./images/icons/sprite.svg#phone"></use>
        </svg>
        +38 (000) 000 00 00</a
      >

      <a href="" class="footer-instagram"></a>
    </div>
  </div>

  <div class="footer-bottom-side">
    <div class="container">
      <p class="footer-copyright">&copy; Все права защищены, 2019</p>
    </div>
  </div>
</footer>
