<!-- NO PROBLEMS -->
<section class="problems"> 
    <div class="container">
        <div class="problems-title-container">
            <h3 class="problems-title">
                <span class="problems-title-tablet--block">
                    <span>Главные проблемы</span>
                    <span class="problems-title-mobile--block">учеников</span> 
                </span>

                <span class="problems-title-tablet--block">
                    <span>на English ВНО,</span>
                    <span class="problems-title-mobile-block">которые</span>
                </span>

                <span>мы <span class="problems-title--orange">помогаем</span> решить</span>
            </h3>
            
            <div class="problems-title-image"></div>
        </div>

        <div class="problems-set-container">
        <ul class="problems-set list">
            <li class="problems-set__item">
                Название грамматики
            </li>

            <li class="problems-set__item">
                Неумение воспринимать устную английскую речь
            </li>

            <li class="problems-set__item">
                Скупой словарный запас для написания сочинений
            </li>

            <li class="problems-set__item">
                Подготовка в <span class="problems-content--block">одиночку
            </li>

            <li class="problems-set__item">
                Отсутствие единого ресурса знаний
            </li>

            <li class="problems-set__item">
                Недостаток самоорганизации и лень
            </li>
        </ul>
        </div>
    </div>
</section> 
</main>
</body>

</html>