<!-- NO PROBLEMS -->
<section class="problems"> 
    <div class="container">
        <div class="problems-container"> 

            <h2 class="problems-title">
                <span class="problems-title-tablet--block">
                    <span>Главные проблемы</span>
                    <span class="problems-title-mobile--block">учеников</span> 
                </span>

                <span class="problems-title-tablet--block">
                    <span>на English ВНО,</span>
                    <span class="problems-title-mobile--block">которые</span>
                </span>

                <span>мы <span class="problems-title--orange">помогаем</span> решить</span>
            </h2>

            <ul class="problems-set list">
                <li class="problems-set-item">
                    Название грамматики
                </li>
    
                <li class="problems-set-item">
                    Неумение воспринимать устную английскую речь
                </li>
    
                <li class="problems-set-item">
                    Скупой словарный запас для написания сочинений
                </li>
    
                <li class="problems-set-item">
                    Подготовка в <span class="problems-content--block">одиночку
                </li>
    
                <li class="problems-set-item">
                    Отсутствие единого ресурса знаний
                </li>
    
                <li class="problems-set-item">
                    Недостаток самоорганизации и лень
                </li>
            </ul>
        </div>
    </div>
</section> 
