<!-- NO PROBLEMS -->
<section class="problems">
  <div class="container">
    <div class="problems-container">
      <h2 class="problems-title">
        <span class="problems-title-tablet-block">
          <span>Главные проблемы</span>
          <span class="problems-title-mobile-block">учеников</span>
        </span>

        <span class="problems-title-tablet-block">
          <span>на English ВНО,</span>
          <span class="problems-title-mobile-block">которые</span>
        </span>

        <span
          >мы <span class="problems-title-orange">помогаем</span> решить</span
        >
      </h2>

      <ul class="problems-set list">
        <li class="problems-set-item"><p>Название грамматики</p></li>

        <li class="problems-set-item">
          <p>Неумение воспринимать устную английскую речь</p>
        </li>

        <li class="problems-set-item">
          <p>Скупой словарный запас для написания сочинений</p>
        </li>

        <li class="problems-set-item">
          <p>Подготовка в <span class="problems-content-block">одиночку</p></span>
        </li>

        <li class="problems-set-item">
          <p>Отсутствие единого ресурса знаний</p>
        </li>

        <li class="problems-set-item">
          <p>Недостаток самоорганизации и лень</p>
        </li>
      </ul>
    </div>
  </div>
</section>
