<section class="quarantee">
    <div class="quarantee-title-box container">
        <h2 class="quarantee-title section-title">Мы гарантируем</h2>
    </div>
    <div class="quarantee-list-box container">
        <ul class="quarantee-list">
            <li class="quarantee-list-item">
                <svg class="quarantee-list-holder">
                    <use class="quarantee-list-logo" href="./images/icons/sprite.svg#icon-campfire"></use>
                </svg>                
                <p class="quarantee-">Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном тестировании.
                Иначе мы вернем Вам деньги.<span class="quarantee-list-text">*</span></p></li>
            <li class="quarantee-list-item">
                <svg class="quarantee-list-holder">
                    <use class="quarantee-list-logo" href="./images/icons/sprite.svg#icon-campfire"></use>
                </svg>
                <p>Ты научишься писать сочинения минимум на 10 баллов из 14. <span class="quarantee-list-text">В то время как 20% учеников
                    получили за сочинение 0.</p></span></li>
            <li class="quarantee-list-item">
                <svg class="quarantee-list-holder">
                    <use class="quarantee-list-logo" href="./images/icons/sprite.svg#icon-campfire"></use>
                </svg>
                <p>Ты будешь заниматься в своем районе. Мы выберем место проведения занятий
                после формирования команд.</p></li>
            <li class="quarantee-list-item">
                <svg class="quarantee-list-holder">
                    <use class="quarantee-list-logo" href="./images/icons/sprite.svg#icon-campfire"></use>
                </svg>
                <p>Команды будут сформированы, исходя из начального уровня учеников. Мы
                учитываем особенности каждого ученика.</p></li>
        </ul>
    </div>
</section>