.choose {
  position: absolute;
  top: -387px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 34px;
  background: #ffffff;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.choose-container {
  position: relative;
}

.choose-title {
  /* помістити вище секції на 30px */
  position: absolute;
  bottom: 100%;
  width: 180px;
  padding-bottom: 30px;
  left: 0px;
  margin: 0px;
  color: rgb(255, 255, 255);

  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 136%;
}

.choose-list {
  margin: 0;
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}

.choose-list-subtitle {
  color: #ff6b09;
  margin-bottom: 10px;
}

.choose-list-text {
  line-height: 20px;
}

.choose-list-item {
  list-style-type: none; /* Убираем маркеры */
  margin-bottom: 20px;
  width: 216px;
  left: 50px;
  top: 5328px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.428;
  letter-spacing: 0.08em;

  &:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .choose {
    top: -140px;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 25px;
  }

  .choose-list {
    width: 688px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 98px;
    padding-right: 118px;
  }

  .choose-title {
    width: 370px;
    left: 177px;

    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 130%;
  }

  .choose-list-item {
    margin-bottom: 30px;
    margin-right: 20px;

    &:nth-child(n + 5) {
      margin-bottom: 0px;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 1344px) {
  .choose {
    top: -194px;
    padding: 0;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 84px;
    padding-right: 82px;
    width: 1314px;
  }

  .choose-list {
    width: 1148px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }

  .choose-list-item {
    width: 356px;
    margin-bottom: 0;
    margin-left: 40px;
    margin-right: 0;

    &:nth-child(n + 4) {
      margin-top: 32px;
    }

    &:nth-child(3n + 1) {
      margin-left: 0;
    }
  }

  .choose-title {
    display: none;
  }

  .choose-list-text {
    width: 356px;
    margin-top: 10px;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.08em;
  }

  .choose-list-subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 164.9%;
    letter-spacing: 0.08em;
    padding-top: 1px;
    margin-bottom: 0;
  }
}
