.footer {
  text-decoration: none;
}

.footer-first {
  @include mobile-only {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @include tablet-only {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include desktop-only {
    display: flex;
    padding-top: 53px;
    padding-bottom: 53px;
  }
}

.right-block {
  display: flex;
  @include mobile-only {
    flex-direction: column;
    align-items: center;
  }

  @include tablet-only {
    align-items: center;
  }

  @include desktop-only {
    align-items: center;
    margin-left: 290px;
  }
}

.phone-footer {
  margin-right: 10px;
  @include mobile-only {
  }

  @include tablet-only {
    width: 24px;
    height: 23px;
  }

  @include desktop-only {
    margin-right: 15px;
    width: 30px;
    height: 28px;
  }
}

.phone-block {
  display: flex;
  align-items: baseline;
  @include mobile-only {
    margin-bottom: 30px;
  }

  @include tablet-only {
  }

  @include desktop-only {
  }
}

.number-footer {
  color: #111518;
  display: flex;
  align-items: center;

  @include mobile-only {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
  }

  @include tablet-only {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.08em;
  }

  @include desktop-only {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.08em;
  }
}

.insta-footer-link {
  display: inline-flex;
  width: 40px;
  height: 40px;
  background-image: url('/images/icons/instagram.svg');
  background-repeat: no-repeat;
  background-size: contain;
  @include mobile-only {
  }

  @include tablet-only {
    margin-left: 48px;
  }

  @include desktop-only {
    margin-left: 40px;
  }
}

.insta-footer-link::before {
  content: '';

  @include mobile-only {
  }

  @include tablet-only {
    border-left: 1px solid #b9b9b9;
    position: relative;
    right: 24px;
  }

  @include desktop-only {
    border-left: 1px solid #b9b9b9;
    position: relative;
    right: 24px;
  }
}

.page-footer-second {
  background-color: var(--footersecond-bg-color);
}

.footer-second {
  width: 100%;
  height: 70px;
  display: flex;

  @include mobile-only {
    justify-content: center;
    padding: 21px;
  }

  @include tablet-only {
    align-items: center;
  }

  @include desktop-only {
    align-items: center;
  }
}

.footer-header {
  color: #b9b9b9;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;

  @include mobile-only {
  }

  @include tablet-only {
  }

  @include desktop-only {
  }
}
