.program {
  position: relative;
  background: var(--secondary-bg-color);
  padding-top: 50px;
  padding-bottom: 537px;
  height: 2050px;

  background-repeat: no-repeat;
  background-position: calc(50% + 127px) 1473px;
  background-image: url('../images/program/program-bg-mob.png');
  background-size: 176px 137px;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/program/program-bg-mob@2x.png');
  }
}

.program-title {
  text-align: center;
  margin-bottom: 43px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.08em;
  color: var(--secondary-title-color);
}

.program-list {
  position: relative;
  margin-left: 74px;
  &::before {
    content: ' ';
    display: block;
    position: absolute;
    left: -1px;
    top: 10px;

    height: 1280px;
    border-left: 1px solid var(--secondary-title-color);
  }
}

.program-item {
  position: relative;
  text-align: center;
  margin-left: 26px;
}

.program-item:nth-child(-n + 4) {
  margin-bottom: 40px;
}

.program-item-title {
  text-align: start;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  color: var(--secondary-title-color);
  &::before {
    content: '';
    position: absolute;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    left: -32px;
    top: 8px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
}

.program-semestry-item {
  text-align: center;

  @include mobile-only {
    margin-top: 8px;
  }
}
.program-semestry-item:first-child {
  margin-top: 0;
}
.program-semestry-subtitle {
  display: flex;
  align-items: center;
  text-align: start;
  height: 32px;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 164.9%;
  letter-spacing: 0.08em;
  color: var(--accent-color);
}

.program-semestry-text {
  text-align: start;
  width: 143px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.666;
  letter-spacing: 0.08em;
  color: var(--primary-text-color);
  opacity: 0.5;
}

// .program-picture {

// }

@media screen and (min-width: 768px) and (max-width: 1343px) {
  .program {
    height: 1355px;
    padding-bottom: 392px;
    background-position: calc(50% + 192px) 790px;
    background-repeat: no-repeat;
    background-image: url('../images/program/program-bg-tab.png');
    background-size: 384px 280px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/program/program-bg-tab@2x.png');
    }
  }
  .program-title {
    text-align: start;
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0.03em;
  }
  .program-list {
    margin-left: 63px;
    &::before {
      content: ' ';
      display: block;
      position: absolute;
      left: -1px;
      top: 10px;
      height: 690px;
      border-left: 1px solid var(--secondary-title-color);
    }
  }
  .program-item-title::before {
    content: '';
    position: absolute;
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    left: -62px;
    top: 8px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }

  .program-semestry {
    display: flex;
  }
  .program-item {
    margin-left: 56px;
  }
  .program-semestry-text.width-text {
    width: 176px;
  }

  .program-item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }

  .program-semestry-item {
    margin-right: 50px;
  }

  .program-picture {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
@media screen and (min-width: 1344px) {
  .program {
    height: 1237px;
    padding-top: 120px;
    padding-bottom: 363px;
    background-position: calc(50% - 501px) 676px;
    background-repeat: no-repeat;
    background-image: url('../images/program/program-bg-desk.png');
    background-size: 670px 502px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/program/program-bg-desk@2x.png');
    }

    &::before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 278px;
      width: 100%;
      border-top: 1px solid var(--secondary-title-color);
    }
  }

  .program-list {
    display: flex;
    margin-left: 0;
    &::before {
      content: ' ';
      display: none;
    }
  }
  .program-title {
    text-align: start;
    margin-bottom: 160px;
    height: 59px;
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
  }
  .program-list {
    border-left: none;
  }
  .program-item {
    position: relative;
    width: 240px;
    margin-left: 0;
  }
  .program-item:nth-child(-n + 4) {
    margin-right: 30px;
    margin-bottom: 0px;
  }
  .program-circl {
    position: absolute;
    left: 0px;
    top: -67px;
  }
  .program-item-title {
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: 0.08em;

    &::before {
      content: '';
      position: absolute;
      background-color: var(--accent-color);
      border-color: var(--accent-color);
      left: 0px;
      top: -68px;
      width: 17px;
      height: 16px;
      border-radius: 50%;
    }
  }

  .program-semestry-item {
    margin-top: 25px;
  }
  .program-semestry-subtitle {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 164.9%;
    letter-spacing: 0.08em;
  }
  .program-semestry-text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    width: 240px;
  }
  .program-picture {
    display: none;
  }
}
