.problems {
  position: relative;
  background-color: var(--secondary-bg-color);

  @include mobile-only {
    padding-top: 50px;
  }

  @include tablet-only {
    padding-top: 60px;
  }

  @include desktop-only {
    padding-top: 100px;
  }

  @media screen and (min-width: 1344px) {
    background-image: url('../images/icons/problems-bg-campfire.svg');
    background-size: 455px 472px;
    background-repeat: no-repeat;
    background-position: 108% 200px;
  }
}

// PROBLEMS TITLE
.problems-container {
  position: relative;

  @media screen and (min-width: 320px) {
    // padding: 51px 20px 350px 0px;
    padding-right: 20px;
    padding-bottom: 352px;
  }

  @media screen and (min-width: 768px) {
    // padding: 60px 158px 177px 0px;

    // padding-right: 158px;
    padding-bottom: 178px;
  }

  @media screen and (min-width: 1344px) {
    padding: 0 0 282px 0px;
  }
}

.problems-title {
  color: var(--secondary-title-color);
  font-weight: 800;
  letter-spacing: 0.03em;

  @media screen and (min-width: 320px) {
    font-size: 20px;
    line-height: 136%;
  }

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 130%;
  }

  @media screen and (min-width: 1344px) {
    font-size: 46px;
    line-height: 130%;
  }
}

.problems-title-orange {
  color: var(--accent-color);
}

.problems-title-mobile-block {
  @media screen and (max-width: 767px) {
    display: block;
  }
}

.problems-title-tablet-block {
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.problems-content-block {
  @media screen and (max-width: 1343px) {
    display: block;
  }
}

// PROBLEMS SET
.problems-set {
  display: flex;
  flex-wrap: wrap;
  align-items: top;

  position: absolute;

  background: var(--primary-bg-color);
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  left: 50%;
  transform: translate(-50%, 0%);

  @media screen and (min-width: 320px) {
    width: 280px;
    top: 156px;

    padding: 20px 14px 20px 30px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    width: 688px;
    top: 128px;

    padding: 0 68px 26px 68px;
  }

  @media screen and (min-width: 1344px) {
    width: 1314px;
    top: 248px;

    padding: 30px 112px 62px 74px;
  }
}

.problems-set-item {
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.08em;
  color: var(--primary-title-color);

  @media screen and (min-width: 320px) {
    font-size: 14px;
    line-height: 1.4;
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-top: 28px;
    margin-left: 28px;
    flex-basis: calc(100% / 2 - 28px);
  }

  @media screen and (min-width: 1344px) {
    font-size: 20px;
    line-height: 1.4;

    margin-top: 40px;
    margin-left: 40px;
    flex-basis: calc(100% / 3 - 40px);
  }
}

.problems-set-item::before {
  display: block;
  content: '';
  margin-bottom: 10px;
  color: var(--accent-color);

  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.08em;

  @media screen and (min-width: 320px) {
    font-size: 14px;
    line-height: 1.2;
  }

  @media screen and (min-width: 1344px) {
    font-size: 20px;
    line-height: 1.65;
  }

  counter-increment: problem-number;
  content: '— 0' counter(problem-number);
}
