.teacher {
  padding-top: 40px;

  @include tablet-only {
    padding-top: 302px;
  }
}

.teacher-title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.08em;
  color: var(--primary-title-color);
  margin-bottom: 20px;

  @include tablet-only {
    font-size: 26px;
    line-height: 1.308;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
  @include desktop-only {
    font-size: 46px;
    line-height: 1.304;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.teacher-subtitle {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  color: var(--primary-title-color);

  @include desktop-only {
    font-size: 30px;
    line-height: 1.233;
  }
}

.teacher-subtitle::after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--primary-text-color);
  margin-top: 10px;

  @include tablet-only {
    margin-top: 10px;
  }
}

.teacher-list::after {
  display: block;
  content: '';
  width: 20px;
  height: 2px;
  background-color: var(--accent-color);
  margin-top: 20px;
  margin-bottom: 20px;

  @include tablet-only {
    // margin-top: 20px;
  }
}

.teacher-list-item {
  display: flex;
}

.teacher-foto {
  padding-bottom: 0;
  flex-shrink: 0;
}
.teacher-wrapper {
  @include tablet-only {
    display: flex;
  }
  @include desktop-only {
    display: flex;
  }
}

.teacher-right-side {
  width: 279px;

  @include tablet-only {
    width: 401px;
  }
  @include desktop-only {
    width: 641px;
  }
}

.teacher-list {
  margin-top: 20px;
}

.teacher-img {
  object-fit: cover;

  @include mobile-only {
    margin-bottom: 20px;
  }

  @include tablet-only {
    margin-right: 40px;
  }
  @include desktop-only {
    margin-right: 30px;
  }
}

.teacher-description-about {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  color: var(--primary-text-color);
  width: 279px;

  @include tablet-only {
    width: 402px;
  }
  @include desktop-only {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.556;
    color: var(--primary-text-color);

    width: 641px;
  }
}

.teacher-description-about:not(:last-of-type) {
  margin-bottom: 24px;

  @include mobile-only {
    margin-bottom: 20px;
  }

  @include desktop-only {
    margin-bottom: 30px;
  }
}

.teacher-description-link {
  display: inline-block;
  margin-top: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  text-decoration-line: underline;
  color: var(--accent-color);

  @include desktop-only {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.556;
  }
}

.teacher-list-item:not(:last-child) {
  margin-bottom: 28px;

  @include desktop-only {
    margin-bottom: 36px;
  }
}

.teacher-list-item-icon {
  flex-shrink: 0;
  display: inline-block;
  width: 17px;
  height: 14px;
  margin-right: 8px;

  @include tablet-only {
    margin-right: 9px;
  }

  @include desktop-only {
    margin-right: 34px;
    width: 24px;
    height: 20px;
  }
}

.teacher-list-desc {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);

  @include desktop-only {
    font-size: 16px;
    line-height: 1.25;
  }
}
