.teacher {
    padding-top: 40px;
    padding-bottom: 26px;
}

.teacher-title {
   
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.08em;
    color: var(--primary-title-color);
    margin-bottom: 20px;

    @include tablet-only {
        font-size: 26px;
        line-height: 1.308;
        letter-spacing: 0.03em;
        margin-bottom: 30px;
    }
    @include desktop-only {  
        font-size: 46px;
        line-height: 1.304;
        letter-spacing: 0.03em;
        margin-bottom: 50px;
    }
    }
     
    .teacher-subtitle {
        font-weight: 800;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.08em;
        color: var(--primary-title-color);

        @include desktop-only {
            font-size: 30px;
            line-height: 1.233;
        }
    }

    .teacher-subtitle::after {
     
     display: block;
     content: "";
     width: 100%;
     height: 1px;
     background-color:  var(--primary-text-color);
     margin-top: 10px;  
    
    @include tablet-only {
       margin-top: 14px;     
        }
    }

    .teacher-list::after {
        display: block;
        content: "";
        width: 20px;
        height: 2px;
        background-color:  var(--accent-color);
        margin-top: 26px;
        margin-bottom: 26px;

        @include tablet-only { 
            margin-top: 24px;
        }
    }
    
    .teacher-list-item {
        display: flex;

    }

picture {
    flex-shrink: 0;
}
.teacher-wrapper {
    @include tablet-only {
        display: flex;
    } 
    @include desktop-only  {
       display: flex; 
    }   
}

.teacher-list {
    margin-top: 26px;
}

.teacher-img {
    flex-shrink: 0;
    object-fit: cover;
    width: 244px;
    height: 344px;
    padding-bottom: 20px;
    

    @include tablet-only {
        width: 244px;
        height: 344px;
        margin-right: 40px;
        
    } 
    @include desktop-only {  
        width: 530px;
        height: 667px;
        margin-right: 30px;
    }
}

.teacher-description-about {
    @media screen and (max-width: 1343px){
    font-weight: 500;
    font-size: 12px;
    line-height: 1.667;
    color: var(--primary-text-color);
    margin-bottom: 28px; 
    }

    @include desktop-only {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.556;  
    color: var(--primary-text-color);
    margin-bottom: 34px;
    } 
    }
        
.teacher-description-link {
    @media screen and (max-width: 1343px){
        font-weight: 500;
        font-size: 12px;
        line-height: 1.667;
        text-decoration-line: underline;
        color: var(--accent-color);
    }

    @include desktop-only {
        font-size: 18px;
        line-height: 1.556;
        text-decoration-line: underline;
        color: var(--accent-color);
    }
}


.teacher-list-item:not(:last-child) {
     margin-bottom: 28px;   
    
    @include tablet-only {
        margin-bottom: 40px;   
       }
    @include desktop-only {
        margin-bottom: 40px;   
       }
}
       
      
       
 .teacher-list-item-icon {
        flex-shrink: 0;
        display:inline-block;
        width: 17px;
        height: 14px;
        margin-right: 8px;
    
    
    @include desktop-only {
        margin-right: 34px;
        width: 24px;
        height: 20px;
    }
    }
        
.teacher-list-desc { 
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.214;
    letter-spacing: 0.06em;
    color: var(--primary-title-color);
    

    @include desktop-only {
    font-size: 16px;
    line-height: 1.25;
    }
   }